.gradle
/bin
.classpath
.project
prob_log.txt
.settings
build
*.log
/models/gcd/GCD/**
/models/sequences/UseSeqs/**
/models/bowl/BowlOfCherries/**
/models/modelcheck/ModelCheck/**
/models/multiplication/Mult/**
/models/ll_parsing/LL/**
